* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  overflow: visible;
}

.bannerpage{
  width: 70%;
  margin-left: 35%;
}

/* .navbar {
  max-height: 120px;
  min-height: 80px;
  height: auto;
    background-color: #ededef3c;
} */
.subheading{
  font-size: 30px;
  color: #7c36ff;
  text-align: center;
}

 h1.frame-5 {
  opacity: 0; /* Initially set the opacity to 0 */
  -webkit-transform: scale(0); /* Initially set the scale to 0 */
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation: blurFadeIn 0s ease-in 0s forwards; /* Apply the animation with a delay */
  -moz-animation: blurFadeIn 0s ease-in 0s forwards;
  -ms-animation: blurFadeIn 0s ease-in 0s forwards;
  animation: blurFadeIn 0s ease-in 0s forwards;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
}
h1.frame5 span {
  -webkit-animation: blurFadeIn 1s ease-in 0.1s backwards;
  -moz-animation: blurFadeIn 1s ease-in 0.1s backwards;
  -ms-animation: blurFadeIn 1s ease-in 0.1s backwards;
  animation: blurFadeIn 1s ease-in 0.1s backwards;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
}
h1.frame5 span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
h1.frame5 span:nth-child(3) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(0.2);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    -webkit-transform: scale(0.4);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(0);
  }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}



.section {
  height: 100vh;
  width: 100%;
  /* background-color: #0c101b; */
}

.uline:hover {
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: fit-content;
  color: #7c36ff;
}

.contact-btn {
  background: #7c36ff;
  color: #fff;
  padding-left: 19px;
  padding-right: 19px;
 
  border-radius: 20px;
}

.contact-btn:hover {
  /* background-color: #0cb8b5; */
  box-shadow: #4d4b4b;
  border: 2px solid #7c36ff;

}


.what-is-img {
  overflow: hidden;
  border-radius: 10%;
  box-shadow: 0 0 20px #fff;
  animation: glowing 2s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 20px #41c9ee;
    /* Initial glow color (white) */
  }

  50% {
    box-shadow: 0 0 30px #3ded3d;
    /* Middle glow color (green) */
  }

  100% {
    box-shadow: 0 0 20px #ea4b4b;
    /* Final glow color (white) */
  }
}

.highlight-container,
.highlight {
  position: relative
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: ' ';
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: rgb(204, 194, 1);
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.about-us {
  /* padding: 10px; */
  height: 80vh;
}

.aboutlead {
  font-size: 18px;
}


/* gallery */

.card-img-top {
  overflow: hidden;
  border-radius: 10%;
  transition: transform 0.2s ease
}

/* .gallerysection { */
  /* height: 120px; */
  /* background-color: black; */
  /* border: 2px solid red; */
/* } */

.card-img-top:hover {
  transform: scale(1.2);
}

.section .media-icons a {
  font-size: 32px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  border-radius: 5px;
  border: 2px solid #222222;
  /* margin: 30px 5px 0 0; */
  transition: all 0.3s ease;
}

.section .media-icons a:hover {
  border-color: #00c2b5;
}

.section .media-icons {
  justify-content: center;
  display: flex;
  gap: 8px;
}

/* team */
.ourteam {
  height: 600px;
  margin: auto;
  margin-top: 3%;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 80%;
  /* color: black; */
  background-color: #7672726b;
}

.ourteam>h2 {
  margin-top: 1%;
  font-size: 36px;
  font-weight: 800;
  color: #00c2b5;
}

.ourteam>h6 {
  padding-top: 4%;
  /* color: #001C30; */
}

.teamcontent {
  margin-left: 4%;
  width: 35%;
  margin-top: 1%;
}

.teamcontainer {
  background-color: rgb(234, 232, 232);
  height: 700px;
}

.undescoreLine {
  width: 30%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.undescoreLine>div {
  border: 2px solid #00c2b5;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.undescoreLine>span {
  width: 45%;
  height: 2px;
  background-color: #00c2b5;
}

.teamcontent hr {
  width: 25%;
  margin: auto;
  border: 2px solid #00c2b5;
}

.teamcontent h3 {
  font-weight: 600;
  /* color: #0c101b; */
}

.teamcontent h4 {
  margin-top: 3%;
  /* color: #0c101b; */
}

.teamimg {
  margin-top: 1%;
  margin-left: 8.5%;

  border-right: 2px solid #00c2b5;
}

.teamprev {
  color: #001C30;
}

.teamicon>a {
  color: inherit;
}

/* services */

.serviceMain {
  padding: 30px;
  padding-bottom: 8%;
  height: fit-content;
}

.services {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.serviceMain>h2 {
  color: white;
  text-align: center;
  font-size: 42px;
  /* margin-bottom: 2%; */
  margin-top: 5%;
  font-weight: 600;
}

.serviceBox{
  height: 90px;
  width: 500px;
  position: relative;
  border-radius: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 6%;
  background-color: rgba(255, 255, 255, 0.196);
  /* border: 2px solid red; */
}

.serviceBox h4{
  margin-left: 60px;
  /* border: 2px solid red; */
}
.serviceBoxInner{
  position: absolute;
  height: 70px;
  width: 70px;
  bottom: 50px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #7c36ff;
  /* border: 2px solid green; */
}
/* CSS to style the Subscribe Us section (you can customize this according to your preferences) */
.subscribe-section {
  background-color: transparent;
  padding: 20px;
  text-align: center;

}

.subscribe-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.subscribe-form {
  display: flex;
  /* border-radius: 30%; */
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}

.subscribe-input {
  padding: 8px;
  flex: 1;
  border: 1px solid #0c0b0b;
  border-right: none;
  border-radius: 20px 0 0  20px;
}

.subscribe-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}


/* .flip-card-back>button{
   border-radius: 6px;
    padding: 2% 4%;
    border: 2px solid #00aea3;
    background-color:#fff ;
  }
  
  .flip-card-back>button:hover{
    color: #fff;
    background-color: #00aea3;
   } */

  
.footer-section a{
  color: white;
}

.footer-section a:hover{
  color:rgb(189, 187, 187) ;
}

.f-logo{
  color: white;
  font-size: 100px;
}





/* New footer */

footer{
  width: 100%;
  margin-top: 5%;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
  text-decoration: none;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
 
}
footer .content .lower i{
  padding-right: 16px;
}

footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: rgb(124, 54, 255);
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid rgb(124, 54, 255);
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  rgb(124, 54, 255);
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: rgb(124, 54, 255);
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: rgb(124, 54, 255);
}
footer a{
  color: white;
  transition: all 0.3s ease;
}
footer a:hover{
  color: rgb(124, 54, 255);
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}

/* >>>>>>> 37e1c2a6be798e7006466986e60929dbc29e2abd */
